body {
  background: rgb(114, 112, 112);
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img.little-image {
  max-width: 180px;
  max-height: 120px;
}


/* main container - used on home page */
.container {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 40px;
  padding: 10px;
  grid-gap: 10px 10px;
  align-content: center;
}

.container-data {
  width: 1000px;
  max-height: 900px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
  align-content: center;
}

.container-center {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  align-content: center;
  max-width: 1300px;
  margin-left: 100px;
}


/* overview area - home page */
.col-md-5, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-12 {
  background-color:rgb(201, 241, 228);
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  text-align: center;
}

/* visualizations - home page */
.col-md-4 {
  background-color:rgb(197, 194, 194);
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
}


/* a cell from the grid */
div.grid-cell {
  background:white !important;
  padding: 5px;
  align-self: center;
}


/* horizontal line */
hr.vertical_line{
	border-top: 2px solid #272829;
}

/* paragraph */
p {
  padding: 20px;
}


img {
  float: left;
  max-width: 60%;
  max-height: 60%;
  padding: 5px;
  vertical-align: middle;
  padding-inline-end: 10px;
}

img.big {
  max-width: 90%;
  max-height: 90%;
}

img.bigger {
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 600px;
  max-height: 540px;
  float: none;
}

img.resize {
  max-width:50%;
  max-height:50%;
  float: left;
  padding: 20px;
}

img.little-image:hover {
  border: 2px solid rgb(8, 40, 46);
}

h1 {
  font-size: 20px;
  color: rgb(8, 40, 46);
  font-weight: bold;
  padding-top: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 20px;
  font-style: italic;
  color: rgb(6, 28, 31);
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 15px;
  font-style: italic;
  color: rgb(43, 46, 44);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h4 {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  color: rgb(10, 41, 51);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  background-color:rgb(6, 150, 155);
  font-size: 20px;
  font-weight: bold;
  color: white !important;
  display: inline-block;
  padding: 4px;
  margin: 0;
}

.row {
  column-gap: 20px;
  /* justify-content: center; */
}

#row-special {
  display: flex;
  column-gap: 0px;
}


table, th, td {
  /* border: 1px solid black; */
  border-style: dashed;
  border-collapse: collapse;
  background-color: white;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td {
  padding: 10px;
}
th {
  font-weight: bold;
}

table th:nth-child(1) {
  display: none;
}



/* Here we define some styles that will ONLY be applied at screen sizes below 900 pixels */
@media (max-width: 900px) {
  .container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 0px;
    align-content: center;
    /* max-width: 100%; */
  }

  .container-data {
    max-width: 500px;
    padding: 1px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-content: left;
  }

  img.little-image {
    /* max-width: 90%;
    max-height: 90%; */
    vertical-align: middle;
  }

  .col {
    width: 100%;
    float: left;
  }
  .row {
    width: 100%;
  }

  .navbar {
    background-color:rgb(6, 150, 155)!important;
  }

  .navbar-nav {
    background-color: white;
    padding: 0;
    margin: 0;
  }

  /* hide some columns when small screen */
  table th:nth-child(1), td:nth-child(1) {
    display: none;
  }
 
  table th:nth-child(4), td:nth-child(4)  {
    display: none;
  }

  table th:nth-child(5), td:nth-child(5) {
    display: none;
  }

  table th:nth-child(6), td:nth-child(6) {
    display: none;
  }

  table th:nth-child(7), td:nth-child(7){
    display: none;
  }


  table th:nth-child(9), td:nth-child(9) {
    display: none;
  }
}
